@import url('https://fonts.googleapis.com/css2?family=Forum&family=Playfair+Display&display=swap');

body {
	background: #3B181E;
}

.title {
	font-family: "Playfair Display", sans-serif;
	font-weight: 400;
	line-height: 140%;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.09em;
}

.subtitle {
	font-family: "Forum", sans-serif;
	font-weight: 400;
	line-height: 170%;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.06em;
}

.text {
	color: #fff;
	font-family: "Forum", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 170%;
}

.button {
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Forum", sans-serif;
	font-weight: 400;
	letter-spacing: 0.15em;
	border: none;
}

.header {
	background-color: #3B181E;
	position: fixed;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(100vw - 20%);
	height: 64px;
	padding: 0 10%;
}

.logo-link {
	display: block;
}

.logo-img {
	width: 26vw;
    max-width: 137px;
}

.header__nav-burger {
	background-image: url(../img/mobile-burger.png);
	width: 37px;
	height: 37px;
}

.main {
	
/* 	border: 1px solid #FF7171; */
	/* background: rgba(255, 171, 171, 0.2); */
}

.frame {
	/* border: 1px solid #CFC013; */
	/* background: rgba(255, 252, 171, 0.2); */
	padding-top: 64px;
	height: calc(100vh - 64px - 38px);
	margin-bottom: 38px;
}

.main-frame {
	background: url(../img/main-bg-mobile.jpg) no-repeat;
	background-position: center top;
	
}

.frame-content {
	/* border: 1px solid #CD13CF; */
	/* background: rgba(255, 171, 254, 0.2); */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: inherit;
}

.main-frame_title {
	margin-top: 85px;
	font-size: 30px;
	text-align: center;
	align-self: center;
}

.main-frame_button {
	font-size: 10px;
	color: #fff;
	border: 1px solid  #fff;
	background-color: rgba(0,0,0,0.4);
	margin: 0 auto 35px;
	padding: 19px 37px;
}

.socio-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.socio-list__item {
	background: #3B181E;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	margin: 0 6vw;
}

.insta, .fb, .whatsapp, .vk  {
	display: block;
	width: 100%;
	height: 100%;
}

.insta {
	background: url(../img/instagram.png) 50% 50% / 50% 50% no-repeat;
}

.fb {
	background: url(../img/fb.png) 50% 50% / 50% 50% no-repeat;
}

.whatsapp {
	background: url(../img/whatsapp.png) 50% 50% / 50% 50% no-repeat;
}

.vk {
	background: url(../img/vk.png) 50% 50% / 50% 50% no-repeat;
}

.arrow-down {
	border: none;
	background: url('../img/arrow-down.png') 50% no-repeat;
	background-size: contain;
	width: 25px;
	height: 18px;
	align-self: center;
	margin-bottom: 20px;
}


/* Second frame */

.wrapper {
	margin: 0 5%;
}

.services-frame {
	
}

.services-frame_title {
	font-size: 20px;
	padding-bottom: 20px;
}

.slider-container {
	position: relative;
    overflow: hidden;
}

.slider {
	display: flex;
}

.slider-item {
	
}

/* .slider-item-01 {
	
}

.slider-item-02 {
	
}

.slider-item-03 {
	
}

.slider-item-04 {

} */

.slider-item__image {
	width: 90vw;
    max-width: 288px;
    display: block;
    filter: saturate(0.9) contrast(1.1);
}

.slider-item__header {
	position: absolute;
    top: 10px;
    left: 10px;
}

.slider-item__text {
	position: absolute;
    bottom: 20px;
    left: 10px;
    color: #fff;
}

.slider-tabs {
	display: flex;
	justify-content: center;
}

.slider-tab {
	display: inline-block;
    background: #fff;
    width: 19vw;
    max-width: 135px;
    border-radius: 20%;
    height: 3px;
    opacity: 0.3;
    margin: 0 2vw;
}

/* Second frame ends */

/* Offer frame */

.offer-frame {

}

.offer-img {
	width: 100%;
}

.offer-frame_title {
	font-size: 20px;
	width: 100px;
	margin-top: -16px;
}

.offer-frame_title::after {
	content: "";
	display: block;
	width: 85px;
	height: 3px;
	background-color: #fff;
	border-radius: 20%;
	margin: 19px 0 -21px;
}

.offer-frame_text {
	
}

.offer-frame__button {
	font-size: 11px;
	color: #fff;
	background-color: #000;
	width: 220px;
	height: 50px;
}

/* Offer frame ens */