@import url('https://fonts.googleapis.com/css2?family=Forum&family=Playfair+Display&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #3B181E;
	
}

/* Header */

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 1;
	background-color: #3B181E;
	padding: 0 30px;
	width: calc(100vw - 60px);
	height: 64px;
}

.logo-img {
	width: 82px;
}

.header__nav-burger {
	background-image: url(../img/mobile-burger.png);
	width: 37px;
	height: 37px;
}

/* Header ends */

.main {
	position: relative;
	top: 64px;
}

.frame {
	width: 100vw;
}

/* Main frame */

.main-frame {
	background: url(../img/main-bg-mobile.jpg) no-repeat;
	background-position: 50% 50%;
}

.frame-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	height: 82vh;
	margin-bottom: 80px;
}

.main-frame_title {
	font-family: "Playfair Display", serif;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 140%;
	font-size: 30px;
	color: #fff;
	text-align: center;
	letter-spacing: 0.09em;
	margin-top: 70px;
}

.button {
	color: #fff;
	font-family: "Forum", sans-serif;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	padding: 18px 38px;
}

.main-frame_button {
	font-size: 10px;
	border: 1px solid  #fff;
	background-color: rgba(0,0,0,0.4);
	align-self: center;
	margin: 35px auto 35px;
}

.socio-list {
	list-style: none;
	display: flex;
	justify-content: space-around;
	margin: 35px 10px 30px;
}

.socio-list__item {
	width: 35px;
	height: 35px;
	background: #3B181E;
	border-radius: 50%;
	position: relative;
}


.insta, .fb, .whatsapp, .vk  {
	position: absolute;
	width: 35px;
	height: 35px;
}

.insta {
	background: url(../img/instagram.png) 50% 50% / 50% 50% no-repeat;
}

.fb {
	background: url(../img/fb.png) 50% 50% / 50% 50% no-repeat;
}

.whatsapp {
	background: url(../img/whatsapp.png) 50% 50% / 50% 50% no-repeat;
}

.vk {
	background: url(../img/vk.png) 50% 50% / 50% 50% no-repeat;
}

.arrow-down {
	border: none;
	background: url(../img/arrow-down.png) 50% 50% no-repeat;
	background-size: 60%;
	align-self: center;
	width: 20px;
	height: 20px;
}

/* Main frame ends */

/* Services frame */

.services-frame {

}

.services-frame_title {
	font-size: 20px;
}

/* Services frame ends */